apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: podinfo
  namespace: podinfo
spec:
  chart:
    spec:
      version: ">=1.0.0-alpha"
  test:
    enable: false
  values:
    ingress:
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.tls: "true"
        external-dns.alpha.kubernetes.io/hostname: staging.podinfo.glefer.fr
        cert-manager.io/cluster-issuer: "letsencrypt-production"
      hosts:
        - host: staging.podinfo.glefer.fr
          paths:
            - path: /
              pathType: ImplementationSpecific
      tls:
        - secretName: podinfo-tls
          hosts:
            - staging.podinfo.glefer.fr
