apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  namespace: glefer
  annotations:
    image.toolkit.fluxcd.io/automated: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: glefer/cv:run-19231149189 # {"$imagepolicy": "flux-system:glefer-cv"}
        ports:
        - containerPort: 80
