apiVersion: v1
kind: Service
metadata:
  name: nginx
  namespace: glefer
  labels:
    app: nginx
  annotations:
    external-dns.alpha.kubernetes.io/hostname: glefer.fr
spec:
  type: LoadBalancer
  selector:
    app: nginx
  ports:
  - name: http
    port: 80
    targetPort: 80
  - name: metrics
    port: 9113
    targetPort: 9113
